extends _layout

block head
  title #{settings.website.title}
  meta(name='description', content='#{settings.website.headline}')
  link(rel="icon", href="/public/img/favicon.ico", type='image/x-icon')

block main
  .article-list
    each post in posts
      article
        if post.headlineImage
          h2
            img.headline-image(src="#{post.headlineImage}")= post.headlineImage
        h2 
          a(href="/#{post.friendlyUrl}")= post.title
        .summary= post.lead
        div.subheading
          div.timedate 
            span.fa.fa-clock-o
            |  #{post.createdDate.toLocaleDateString()}
